* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__header {
  background: #545454;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar__btn {
  border: 5px solid #6baa75;
  align-self: center;
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 30px;
  height: 5px;
  margin: 0.5rem;
  background: #6baa75;
  transition: all 2s ease;
}

.change .bar-1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

.navbar__links {
  list-style-type: none;
  transition: all 2s ease;
  height: 0;
  overflow: hidden;
}

.navbar__collapse {
  height: 240px;
}

.navbar__single {
  display: block;
  background: #69757c;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #6baa75;
}

.navbar__single:hover {
  padding-left: 1.5rem;
  background: #545454;
}

header {
  min-height: calc((100vh - 91.8px));
  background: url("./img/header=bg-img") center/cove no-repeat;
}
